---
---
$primary-color: #2196F3;
$secondary-color: #f3b600;

@import "{{ site.theme }}";

a, a:link, a:visited, a:hover, a:active {
  color: $primary-color;
}

.page-header {
  background-color: $primary-color;
  background-image: url('/assets/images/header.png');
  background-position: center;
  background-size: cover;
  
  a {
    color: white;
  }
  
  a:hover {
    color: white;
    text-decoration: none;
  }
}

.project-tagline {
  opacity: 1;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: $secondary-color;
}

@media screen and (min-width: 64em) {
  .page-header {
      padding: 4rem 6rem;
  }
}
