---
---

@import "{{ site.theme }}";

.page-header {
  background-color: #2196F3;
  background-image: url('/assets/images/header.png');
  background-position: center;
  background-size: cover;
}

.project-tagline {
  opacity: 1;
}

@media screen and (min-width: 64em) {
  .page-header {
      padding: 4rem 6rem;
  }
}
